<app-header></app-header>
<h1 class="text-center">New Post</h1>
<div class="container">
    <form>
        <div class="form-group">
          <label for="title">Post Title</label>
          <input  [(ngModel)]="post.title" type="text"  class="form-control" id="title" name="title" placeholder="Post Title" >
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <select [(ngModel)]="post.author_id" class="form-control" id="author"  name="author">
            <option *ngFor="let user of userList" value={{user.id}}>{{user.full_name}}</option>
      
          </select>
        </div>
        <div class="form-group">
          <label for="image_url">Image</label>
          <input  [(ngModel)]="post.image_url" type="text" class="form-control" id="image_url" name="image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
          <label for="resume">Post Resume</label>
          <input [(ngModel)]="post.resume" type="text" class="form-control" id="resume" name="resume" placeholder="Post Resume" >
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea [(ngModel)]="post.content" class="form-control" id="content" name="content" rows="3" ></textarea>
        </div>
        <div class="form-group">
          <label for="save"></label>
          <input type="button" class="form-control  bg-primary" id="save" placeholder="save" value="save" (click)="savePost()">
        </div>
      </form>

</div>